@model Day

@{
    int DaysCount = ViewBag.DaysCount;
}

<div class="addingForm">
    <p class="formHeader"> Editing calendar day </p>
    <hr>
    <form method="post" asp-controller="Day" asp-action="Edit">   
        <input readonly type="number" name="day.Id" value="@Model.Id" style="display: none;">
        <input type="number" name="day.OrderNum" value="@Model.OrderNum" placeholder="Enter calendar day's order" class="formInput">
        @for(int i = 0; i < Model?.DayNames.Count; i++)
        {
            <div class="addingSubForm">
                <p class="formHeader"> @(Model.DayNames.ElementAt(i).Language.Name): </p>

                <input readonly type="number" name="day.DayNames[@i].Language.Id" value="@Model.DayNames.ElementAt(i).Language.Id" style="display: none;">
                <input readonly type="number" name="day.DayNames[@i].Id" value="@Model.DayNames.ElementAt(i).Id" style="display: none;">

                <input type="text" name="day.DayNames[@i].Name" value="@Model.DayNames.ElementAt(i).Name" placeholder="Enter day's name" class="formInput">
            </div>
        }
        <input type="submit" class="formButton" value="Edit day">
    </form>
</div>